# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
nexus

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Everything that is under the folder 'bin' should be excluded (except for .gitkeep)
bin/*
!bin/.gitkeep

# IDEs
*.iml
.idea/
